.home {
    border: rgb(179, 73, 73) 1px solid;
    display: grid;
    justify-content: center; 
    align-items: center;             
    text-align: center;
    padding: 1em; 
    margin: 1em 4em;

    .welcoming_message {
        font-size: 1.5em;
        color: black;
    }
}

